.content{
    margin-left: 240px;
    margin-top: -780px;
   
    

}
.featured{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.feauturedItem{
    flex: 1;
    margin: 0 20px;
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43); 
    box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43);
}
.feauturedTitle{
    font-size: 20px;
}
.feautureMoney{
    font-size: 30px;
    font-weight: 600;
}
.feautureMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.feautureMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.featuredIcon{
    font-style: 14px;
    margin-left: 14px;
    color: green
}
.featuredIcon.negative{
    color: red;
}
.featureSub{
    font-style: 15px;
    color: gray;
}