.productContainer{
    display: flex;
    align-items: center;
    
}

.productAddButton{
    float: left;
    margin-left: 980px;
    border: none;
    color: #fff;
    padding: 8px;
    background-color:teal;
    font-style: 16px;
    cursor: pointer;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.porudctTop{
    display: flex;
}
.productLeft,.productRight{
    flex: 1;
}
.productRight{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43); 
    box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43); 
}
.productInforImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.productInforTop{
    display: flex;
    align-items: center;
}
.productName{
    font-weight: 600;
}
.productInforBottom{
    margin-top: 10px;

}
.productInforItem{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.porudctBottom{
    padding: 20px;
    margin: 20px;
    -webkit-box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43); 
    box-shadow: 3px 0px 7px 1px rgba(0,0,0,0.43); 
}
.productForm{
    display: flex;
    justify-content: space-between;
}
.productFormLeft{
    display: flex;
    flex-direction: column;
}
.productFormLeft>label{
    margin-bottom: 10px;
    color: gray;
}
.productFormLeft>input{
    outline: none;
    margin-bottom: 10px;
    border: none;
    padding: 5px;
    border-bottom:  1px solid  #444;

}
.productUploadImg{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.productFormLeft>select{
    margin-bottom: 10px;
}
.productFormRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productUploadIcon{
    margin-left: -10px;
    margin-top: 15px;
   padding-right: 10px;
}
.productUpload{
    display: flex;
    align-items: center;
}
.productButton{
    border: none;
    padding: 5px;
    color: white;
    font-weight: 600;
    background-color: darkblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}